.blogHero {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 6vw;
    align-items: center;
}

.textBlogHero {
    width: 40vw;
}

.textBlogHero a {
    color: #009688;
    font-weight: 700;
    font-size: 47px;
    padding-bottom: 40px;
}

.textBlogHero p {
    font-size: 20px;
    line-height: 40px;
}

@media (max-width: 1000px) {
    .blogHero img {
        display: none;
    }
    .textBlogHero {
        width: 90vw;
    }
}

.contentBlog {
    background: #F6F6F6;
}

.aboutContent {
    display: flex;
    padding: 5vw;
}

.aboutText {
    max-width: 60vw;
    padding: 20px;
    text-align: justify;
}

@media (max-width: 982px) {
    .aboutContent {
        flex-direction: column;
        align-items: center;
    }
    .aboutText {
        text-align: center;
        padding: 0px;
    }
}