#imgPoupando{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#imgPoupando span a{
    color: #FF4081;
    font-weight: 700;
    font-size: 55px;
}

#imgPoupando span {
    width: 400px;
    font-size: 20px;
    padding-right: 37px;
    text-align: justify;
}

.div1{
    background: #F6F6F6;
    max-width: 100%;
}

.aulas {
    justify-content: center;
    display: flex;
    list-style: none;
    font-weight: 300;
    font-size: 18px;
    padding: 20px;
    flex-wrap: wrap;
}

.aulas img{
    padding: 0 30px 30px 0;
    padding-bottom: 53px;
}
.aulas span{
    padding-left: 76px;
    color: #FF4081;
    font-size: 35px;
    padding: 0 0 26px;
    font-weight:700;
}
.aulas p{
    font-weight: 300;
    font-size: 20px;
}

.aulas div {
    width: 45vw;
    text-align: justify;
}

.linha{
    justify-content: center;
    width: 80vw;
    padding-left: 50px;
}
/* .img-poupando span a{
    color: #FF4081;
    font-weight: 700;
    font-size: 55px;
}
.img-poupando{
    display: flex;
    padding-left: 202px;
    padding-bottom: 81px;
}
.img-poupando span{
    padding-right: 37px;
    width: 400px;
    font-size: 20px;
}
.div1{
    background: #F6F6F6;
    max-width: 1440px;
    height: 1235px;
    padding-bottom: 100px;
}
.aulas{
    display: flex;
    padding-left: 213px;
    padding-bottom: 73px;
    padding-top: 75px;
    font-weight: 300;
    font-size: 18px;
    width: 724px;
    list-style: none;
}
.aulas img{
    padding-right: 76px;
    padding-bottom: 53px;
}
.aulas span{
    color: #FF4081;
    font-size: 35px;
    padding: 0 0 26px;
    font-weight:700;
}
.aulas p{
    font-weight: 300;
    font-size: 20px;
    width: 500px;
}
#linha{
    padding-left: 98px;
}

 */
