#img-spare{
    padding: 10vh;
    display: flex;
    justify-content: center;
}

#img-spare #text-hero-start a{
    color: #FF4081;
    font-weight: 700;
    font-size: 55px;
}

#text-hero-start p {
    line-height: 35px;
}

#img-spare #text-hero-start {
    width: 40vw;
    font-size: 20px;
    padding-right: 70px;
    text-align: justify;
}

.content{
    background: #F6F6F6;
    max-width: 100%;
    padding: 5vw;
}

.classes {
    justify-content: center;
    display: flex;
    list-style: none;
    font-weight: 300;
    font-size: 18px;
    padding: 20px;
    flex-wrap: wrap;
}

.classes img{
    padding: 0 30px 30px 0;
    padding-bottom: 53px;
}

.classes span{
    color: #FF4081;
    font-size: 35px;
    padding: 0 0 26px;
    font-weight:700;
}
.content-text {
    width: 45vw;
}

.classes p{
    font-weight: 300;
    font-size: 20px;
}

.content p {
    width: 100%;
}
.classes div {
    text-align: justify;
}

.line{
    justify-content: center;
    width: 80vw;
    padding-left: 50px;
}

@media (max-width: 1090px){
    #img-spare img{
        display: none;
    }
    #img-spare #text-hero-start {
        width: 80vw;
        padding: 0px;
    }
    .content p {
        width: 90vw;
    }
    .classes div {
        width: 100vw;
    }
}

@media (max-width: 1090px){
    .classes {
        display: flex;
    }
}