main {
    margin: 82px 0 82px 82px;
    padding: 0px;
}

#title{
    display: grid;
    color: #FF4081;
    font-weight: 700;
    font-size: 60px
}

.course {
    padding: 30px 0 30px 0;
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: center;
}

.course span{
    display: flex;
    color: #FF4081;
    font-size: 35px;
    padding: 0 0 37px;
    font-weight:700;
}

.course p{
    padding-left: 20px;
    padding-bottom: 53px;
    font-weight: 300;
    font-size: 18px;
    width: 50vw;
}

.line {
    width: 85vw;
}

.start-now-button{
    background: #419488;
    width: 233px;
    margin-left: 20px;
    height: 51px;
    border-radius: 62px;
    list-style: none;
    color: #F6F6F6;
    font-size: 20px;
    padding: 15px 61px;
    font-weight: 400;
    text-decoration: none;
}

@media (max-width: 770px){
    main {
        margin: 20px 0 20px 20px;
    }
}