#titulo{
    color: #FF4081;
    font-weight: 700;
    width: 263px;
    font-size: 60px
}
#paragrafo{
    padding-top: 81px;
    padding-left: 82px;
    width: 317px;
    padding-left: 82px;
}
#paragrafo a{
    color: #555555;
    font-weight: 400;
    font-size: 20px;
}
#curso1{
    display: flex;
    padding-left: 53px;
    padding-bottom: 53px;
    padding-top: 95px;
    font-weight: 300;
    font-size: 18px;
    width: 724px;
    list-style: none;
}
#curso1 img{
    padding-left: 112px;
    padding-right: 53px;
}
#curso1 span{
    color: #FF4081;
    font-size: 35px;
    padding: 0 0 37px;
    font-weight:700;
}
#curso1 p{
    padding-bottom: 53px;
    font-weight: 300;
    font-size: 18px;
    width: 724px;
}
#comecar-agora{
    background: #419488;
    width: 233px;
    height: 51px;
    border-radius: 62px;
    list-style: none;
}
#comecar-agora{
    color: #F6F6F6;
    font-size: 20px;
    width: 216px;
    height: 25px;
    padding: 15px 61px;
    font-weight: 400;
    text-decoration: none;
}
#curso3{
    display: flex;
    padding-left: 53px;
    padding-bottom: 68px;
    padding-top: 107px;
    font-weight: 300;
    font-size: 18px;
    width: 724px;
    list-style: none;
}
#curso3 img{
    padding-left: 128px;
    padding-right: 120px;
}
#curso3 span{
    color: #FF4081;
    font-size: 35px;
    padding: 0 0 37px;
    font-weight:700;
}
#curso3 p{
    padding-bottom: 53px;
    font-weight: 300;
    font-size: 18px;
    width: 724px;
}
#linha{
    padding-left: 82px;
}