#img-banner {
    Width: calc(10vw * 5);
}

.content-index {
    justify-content: center !important;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 10vh;
}

.text-index{
    margin-inline: 70px;
    Width: 35vw;
}

.text-index h1{
    color: #FF4081;
    font-size: 60px;
    font-weight: 700px;
    padding-bottom: 11px;
}

.text-index #subtitle{
    display: flex;
    color: #555555;
    font-size: 27px;
    font-weight: 400px;
    padding: 19px 0 0;
}

.text-index li{
    list-style: none;
    width: 216px;
    height: 20.27px;
    margin-block: 60px;
}

.text-index li a{
    border: 2px solid #FF4081;
    color:#FF4081;
    text-decoration: none;
    font-weight: 400;
    border-radius: 62px;
    padding: 8.5px 26px;
    display: block;
    text-align: center;
}

@media (max-width: 932px){
    .content-index {
        text-align: center;
    }
    .text-index h1 {
        justify-content: center;
    }
    .text-index {
        display: grid;
        justify-items: center;
        width: auto;
    }
    #img-banner {
        display: none;
    }
}

.container-investiments {
    display: flex;
    background-color: #F6F6F6;
    justify-content: center;
}

.types-investimentos{
    display: grid;
    justify-items: center;
    align-content: space-between;
    padding: 30px;
    min-width: 300px;
    color: #FF4081;
    text-align: center;
    font-weight: 300;
}

.types-investimentos h1{ 
    font-size: 25px;
    font-weight: 700;
    font-style: bold;
}
.types-investimentos p{
    color: #000000;
    font-size: 17px;
    font-weight: 300;
    text-align: center;
}

.types-investimentos li{
    list-style: none;
    width: 233px;
}
.types-investimentos li a{
    border: 2px solid #FF4081;
    color: #F6F6F6;
    background: #FF4081;
    text-decoration: none;
    font-weight: 400;
    border-radius: 62px;
    padding: 8.5px 26px;
    display: block;
    text-align: center;
}

@media (max-width: 1089px){
    .container-investiments {
        flex-wrap: wrap;
    }
}

.container-aboutus{
    padding: 10vw;
    font-family: 'nunito';
    font-style: normal;
}
.text-aboutus{
    color: #009688;
    font-size: 21px;
    font-weight: 400;
    text-transform: uppercase;
}

.people {
    display: flex;
    flex-wrap: wrap;
}
.person {
    display: flex;
    width: 500px;
    align-items: center;
}

.person p {
    padding: 2vw;
}

.container-more{
    background-color: #F6F6F6;
}

.more-content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.content {
    padding: 15px;
    padding-bottom: 8vh;
}

.content h1{
    color: #009688;
    font-size: 27px;
    padding: 0;
}

.content p{
    font-size: 18px;
    width: 319px;
    padding: 0;
}

.container-more li{
    display: flex;
    list-style: none;
    justify-content: center;
}

.container-more li a{
    border: 2px solid #FF4081;
    color:#FF4081;
    text-decoration: none;
    font-weight: 400;
    border-radius: 62px;
    padding: 8.5px 26px;
    display: block;
    text-align: center;
}

@media (max-width: 400px){
    .content img, .content p {
        width: 80vw;
    }
    .content-index {
        margin-top: 0px;
    }
    .container-aboutus {
        padding: 1vw;
    }
}