body{
    font-family: 'ubuntu', Arial, sans-serif;
}
main{
    max-width: 1440px;
}
header{
    background-color: #2E948A;
    width: 1440px;
    height: 117px;
    left: 0px;
    top: 0px;
}
footer{

}